.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
  }
  
  .form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    background-color: #47d2f5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link a {
    color: #47d2f5;
  }
  